body .table-list {
    color: green;
    font-size: 2em;
}

#homeHeader {
    color: blue;
    font-style: oblique;
}

p  {
    font-family: Georgia;
    color: rgb(85, 102, 102);
}

footer {
    padding: 2em;
    background-color: #f8f9fa;
}

footer div{
    display: flex;
    justify-content: center;
}

.home-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}